@import config.sass
@import compass/css3

// BASE STYLES

*:focus
	outline: 0

a:hover
	text-decoration: none

.btn
	padding: 16px 22px
	border-radius: 0
	font-family: $font-family-bold
	+font-size(16)

.btn-blue
	background-color: $blue
	color: white
	&:hover
		color: white

.btn-red
	background-color: $red-light
	color: white
	&:hover
		color: white

// CUSTOM STYLES
// HEADER
header
	.jumbotron
		position: relative
		min-height: 780px
		margin: 0
		padding: 0
		background-color: $blue-darker
		.content-primary-title
			position: absolute
			top: 50%
			left: 50%
			width: 920px
			padding: 50px 60px
			+transform(translate(-50%, -50%))
			border: 1px solid #7e8084
			background-color: #0c0d11
			+opacity(0.7)
		h1, h2
			margin: 0
			font-family: $font-family-bold
			text-align: center
			color: white
		h1
			+font-size(62)
		h2
			+font-size(34)

// NAVIGATION
nav
	margin: 0
	background-color: $blue-dark
	ul
		width: 682px
		margin: 0 auto
		padding: 0
		li
			display: inline-block
			&:hover
				background-color: #1b1f29
			a
				display: block
				padding: 26px 23px
				+font-size(14)
				color: #c3c8d6
				&:hover
					color: white

// SECTIONS
section
	padding: 95px 0
	.content-title
		margin-bottom: 70px
		text-align: center
		h3, p
			margin: 0
			color: white
		h3
			font-family: $font-family-light
			+font-size(36)
			text-transform: uppercase
		&.red-title
			h3
				color: $red-light
			p
				color: $blue

// SECTION: ABOUT ME
#about-me
	background-color: $green-light

.content-text
	color: white
	h5, p
		margin-bottom: 30px
	h4
		+font-size(24)
	h5
		font-family: $font-family-bold
		+font-size(18)

.content-profile-img
	+size(294px, 294px)
	background-color: $blue-dark
	+border-radius(50%)

// SECTION: TECHNICAL SKILLS
.content-skill
	margin-bottom: 50px
	text-align: center
	.content-amount
		margin-bottom: 35px
	.content-description
		width: 55%
		margin: 0 auto
		h4
			margin-bottom: 20px
			font-family: $font-family-bold
			+font-size(18)
			color: $blue
		p
			+font-size(13)
			color: #84868d

// SECTION: WORK EXPERIENCE & EDUCATION
.content-date
	position: relative
	+size(122px, 122px)
	padding: 28% 0 0 0
	+border-radius(50%)
	background-color: $red-light
	p
		position: absolute
		top: 50%
		left: 50%
		width: 90%
		+transform(translate(-50%, -50%))
		+font-size(17)
		text-align: center
		color: white

.content-timeline-item
	&:last-child .content-item
		padding-bottom: 0
	.content-item
		padding-bottom: 45px
		border-left: 1px solid #f3f3f3
		.content-description
			margin: 0 0 0 42px
			padding: 15px 48px
			+filter(drop-shadow(0 5px 0 $body-bg))
			background-color: #f3f3f3
			&:before
				content: ""
				position: absolute
				left: 33px
				+size(0, 0)
				border-top: 12px solid transparent
				border-bottom: 12px solid transparent
				border-right: 15px solid #f3f3f3
			h4, h5
				color: $blue
			h4
				margin-bottom: 5px
				font-family: $font-family-bold
				+font-size(19)
			h5
				margin-top: 0
				+font-size(16)
			p
				+font-size(13)
				color: #84868d

// SECTION: WORK EXPERIENCE
#work-experience
	background-color: white

// SECTION: EDUCATION
#education .content-timeline-item .content-item
	border-left: 1px solid #dedddd
	.content-description
		+filter(drop-shadow(0 5px 0 #e8e7e7))
		background-color: #fafafa
		&:before
			border-right: 15px solid #fafafa

// SECTION: PORTFOLIO
#portfolio
	background-color: $blue-light

.content-portfolio-items
	.content-item
		height: 230px
		margin: 0 0 7px 0
		background-color: $blue

// SECTION: CONTACT
#contact
	padding: 95px 0
	background-color: $blue
	.content-footer
		h2
			margin-bottom: 25px
			font-family: $font-family-bold
			+font-size(18)
			color: white
			text-transform: uppercase
	.content-contact
		p
			padding: 0 0 0 30px
			&:before
				content: ""
				position: absolute
				left: 2%
				+size(17px, 17px)
				background-color: #858790
	.content-message
		input, textarea
			padding: 0 30px
			border: none
			background-color: #585f73
			+font-size(13)
			color: white
		input
			+size(100%, 50px)
			margin: 0 0 10px 0
		textarea
			width: 100%
			min-height: 130px
			padding-top: 20px
	.btn-send
		margin-top: 40px

// SECTION: SOCIAL
#social