@import config.sass
@import compass/css3

// BASE STYLES

a:hover
	text-decoration: none

.btn
	padding: 16px 22px
	border-radius: 0
	font-family: $font-family-bold
	+font-size(16)

.btn-blue
	background-color: $blue
	color: white
	&:hover
		color: white

// CUSTOM STYLES
// HEADER
header
	.jumbotron
		position: relative
		min-height: 780px
		margin: 0
		padding: 0
		background-color: $blue-darker
		.content-primary-title
			position: absolute
			top: 50%
			left: 50%
			width: 920px
			padding: 50px 60px
			+transform(translate(-50%, -50%))
			border: 1px solid #7e8084
			background-color: #0c0d11
			+opacity(0.7)
		h1, h2
			margin: 0
			font-family: $font-family-bold
			text-align: center
			color: white
		h1
			+font-size(62)
		h2
			+font-size(34)

// NAVIGATION
nav
	margin: 0
	background-color: $blue-dark
	ul
		width: 682px
		margin: 0 auto
		padding: 0
		li
			display: inline-block
			&:hover
				background-color: #1b1f29
			a
				display: block
				padding: 26px 23px
				+font-size(14)
				color: #c3c8d6
				&:hover
					color: white

section
	padding: 95px 0
	.content-title
		margin-bottom: 70px
		text-align: center
		h3, p
			margin: 0
			color: white
		h3
			font-family: $font-family-light
			+font-size(36)
			text-transform: uppercase

// SECTION: ABOUT ME
#about-me
	background-color: $green-light

.content-text
	color: white
	h5, p
		margin-bottom: 30px
	h4
		+font-size(24)
	h5
		font-family: $font-family-bold
		+font-size(18)

.content-profile-img
	width: 294px
	height: 294px
	background-color: $blue-dark
	+border-radius(50%)

// SECTION: TECHNICAL SKILLS
#tech-skills
	.content-title
		h3
			color: $red-light
		p
			color: $blue

.content-skill
	margin-bottom: 50px
	text-align: center
	.content-amount
		margin-bottom: 35px
	.content-description
		width: 55%
		margin: 0 auto
		h4
			margin-bottom: 20px
			font-family: $font-family-bold
			+font-size(18)
			color: $blue
		p
			+font-size(13)
			color: #84868d